/* Global Styling */
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 14px;
  color: @foreground;
}

@import "./theme.css";

/* Main Background */
window#waybar {
  background: transparent;
}

/* Tooltip Styling */
tooltip {
  color: @foreground;
  background: @tooltip;
  border: solid;
  border-width: 1.5px;
  border-radius: 7px;
  border-color: @foreground;
}

/* Workspace Button */
#workspaces button {
  color: @foreground;
  border-radius: 8px;
  box-shadow: none;
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
  padding: 0px;
  padding-right: 2px;
  padding-left: 2px;
  animation: ws_normal 20s ease-in-out 1;
}

/* Active Workspace Button */
#workspaces button.active {
  color: @active-fg;
  background: @active-bg;
  text-shadow: 0px 0px 2px rgba(22, 22, 22, 0.6);
  box-shadow: 0px 0px 2px 1px rgba(22, 22, 22, 1);
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 6px;
  padding-left: 6px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* Hover Effect for Workspace Buttons */
#workspaces button:hover {
  color: @hover-fg;
  background: @hover-bg;
  box-shadow: none;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* General Module Styling */
#custom-ws,
#workspaces,
#window,
#custom-cpuinfo,
#memory,
#custom-cpu,
#clock,
#custom-wifi,
#pulseaudio,
#custom-backlight,
#battery,
#custom-power {
  opacity: 1;
  margin-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  text-shadow: 0px 0px 2px rgba(22, 22, 22, 0.8);
}

/* Logo */
#custom-ws {
  background: @logo;
  border-radius: 8px;
  padding: 1px 0 0 3px;
  margin: 0px;
  margin-right: 2px;
}

/* Workspaces */
#workspaces {
  background: @workspaces;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* Window Title */
#window {
  background: @window;
  margin-left: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
}

/* Temperature */
#custom-cpuinfo {
  background: @cpuinfo;
  padding-left: 1px;
  padding-right: 0px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* Memory */
#memory {
  background: @memory;
  padding-left: 1px;
  padding-right: 0px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* CPU */
#custom-cpu {
  background: @cpu;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* Idle Inhibitor */
#idle_inhibitor {
  color: @foreground;
  background: @idle_inhibitor;
  font-size: 11pt;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
  padding-right: 5px;
  padding-left: 5px;
  text-shadow: 0px 0px 1.5px rgba(22, 22, 22, 1);
}

/* Time */
#clock.time {
  background: @time;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* Date */
#clock.date {
  background: @date;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

#custom-wifi {
  background: @wifi;
  padding-right: 6px;
  padding-left: 4px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* Tray */
#tray {
  padding-right: 6px;
  padding-left: 6px;
  background: @tray;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

#tray menu {
  color: @foreground;
  border-radius: 13px;
  background: @tooltip;
}

#tray menu separator {
  min-height: 5px;
}

#tray menu menuitem {
  border-radius: 8px;
}

#tray menu menuitem:hover {
  background-color: @hover;
}

/* Language */
#language {
  background: @language;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* PulseAudio */
#pulseaudio {
  background: @pulseaudio;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* Brightness */
#custom-backlight {
  background: @backlight;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

/* Battery */
#battery {
  background: @battery;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

/* Power Button */
#custom-power {
  background: @power;
  color: @foreground;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 2px;
  padding-right: 6px;
  padding-left: 9px;
}

#custom-power:hover {
  color: @hover-fg;
  background: @power-hv;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}