# ChibiSafe URL for accessing your service
CHIBISAFE_URL=https://chibisafe.example

# ChibiSafe API key, which can be obtained from your account dashboard (https://chibisafe.example/dashboard/account)
CHIBISAFE_API_KEY=your_api_key
