@define-color accent_color {{colors.primary.dark.hex}};
@define-color accent_fg_color {{colors.on_primary.dark.hex}};
@define-color accent_bg_color {{colors.primary.dark.hex}};
@define-color window_bg_color {{colors.surface_container_lowest.dark.hex}};
@define-color window_fg_color {{colors.on_surface.dark.hex}};
@define-color headerbar_bg_color {{colors.surface_container.dark.hex}};
@define-color headerbar_fg_color {{colors.on_surface.dark.hex}};
@define-color popover_bg_color {{colors.surface_container_highest.dark.hex}};
@define-color popover_fg_color {{colors.on_surface.dark.hex}};
@define-color view_bg_color {{colors.surface.dark.hex}};
@define-color view_fg_color {{colors.on_surface.dark.hex}};
@define-color card_bg_color {{colors.surface.dark.hex}};
@define-color card_fg_color {{colors.on_surface.dark.hex}};
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
