:root {
  --cc-bg: {{colors.surface_container.default.hex}};
  --noti-border-color: {{colors.outline_variant.default.rgba}};
  --noti-bg: {{colors.surface_container.default.red}},{{colors.surface_container.default.green}},{{colors.surface_container.default.blue}};
  --noti-bg-alpha: 0.95;
  --noti-bg-darker: {{colors.surface_container_low.default.hex}};
  --noti-bg-hover: {{colors.surface_container_high.default.hex}};
  --noti-bg-focus: {{colors.surface_container_highest.default.rgba}};
  --noti-close-bg: {{colors.surface_container_high.default.hex}};
  --noti-close-bg-hover: {{colors.surface_container_highest.default.hex}};
  --text-color: {{colors.on_surface.default.hex}};
  --text-color-disabled: {{colors.on_surface_variant.default.hex}};
  --bg-selected: {{colors.primary.default.hex}};
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --mpris-album-art-overlay: {{colors.scrim.default.rgba}};
  --mpris-button-hover: {{colors.surface_tint.default.rgba}};
  --mpris-album-art-icon-size: 96px;
  --widget-volume-row-icon-size: 24px;
}
