@import "./colors.css";

/* -- Global Styling -- */
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  color: @foreground;
}

window#waybar {
  background: transparent;
}

window#waybar > box {
  margin: 5px 6px 0 6px;
  padding: 2px 0;
  background-color: @background;
  border-radius: 15px;
  border: 2px solid @selected;
  opacity: 0.97;
}

/* -- Tooltip Styling -- */
tooltip {
  background: @background;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: @selected;
}

/* -- General Module Styling -- */
#custom-idle_inhibitor,
#workspaces,
#window,
#custom-cpuinfo,
#memory,
#custom-cpu,
#clock,
#custom-wifi,
#network,
#tray,
#privacy,
#language,
#pulseaudio,
#custom-backlight,
#power-profiles-daemon,
#battery,
#custom-power {
  opacity: 1;
  padding: 0px 3px;
  margin: 0px 3px;
}

/* -- Left Modules -- */
/* Idle Inhibitor */
#custom-idle_inhibitor {
  padding: 0 6px 0 1px;
  margin-left: 6px;
  margin-right: 0;
}

#custom-idle_inhibitor:hover {
  background: @selected;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border-radius: 13px;
}

/* Workspaces */
/* Workspace Button */
#workspaces button {
  color: @foreground;
  border-radius: 9px;
  margin: 2px 0px;
  padding: 0 2px;
  margin-left: 0;
  animation: ws_normal 20s ease-in-out 1;
}

/* Active Workspace Button */
#workspaces button.active {
  background: @active;
  margin-right: 2px;
  margin-left: 2px;
  padding: 0 5px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* Hover Effect for Workspace Buttons */
#workspaces button:hover {
  background: @selected;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#window {
  margin-left: 0;
}

/* -- Right Modules -- */
/* Network */
#network {
  font-size: 13px;
}

/* Tray */
#tray {
  padding: 0 6px;
  background: @background;
}

#tray menu {
  border-radius: 10px;
  background: @background;
}

#tray menu menuitem {
  border-radius: 8px;
}

#tray menu menuitem:hover {
  background-color: @selected;
}

/* Privacy */
#privacy {
  background-color: #005000;
  border-radius: 6px;
  padding: 0 6px;
}

/* Power Profiles */
#power-profiles-daemon {
  padding-right: 6px;
}

/* Battery */
#battery.warning {
  color: #f9da95;
}

#battery.critical {
  color: #f7668f;
}

/* Power Button */
#custom-power {
  padding-left: 6px;
  padding-right: 9px;
  border-radius: 8px;
  margin-right: 4px;
}

#custom-power:hover {
  background: @selected;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border-radius: 12px;
}
