@import "./theme.css";

/* -- Global Styling -- */
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14.8px;
  min-height: 14.8px;
  color: @foreground;
}

window#waybar {
  background: @background;
}

window#waybar > box {
  margin-top: 4px;
}

/* -- Tooltip Styling -- */
tooltip {
  color: @foreground;
  background: @tooltip;
  border: solid;
  border-width: 0.7px;
  border-radius: 10px;
  border-color: @foreground;
}

/* -- General Module Styling -- */
#idle_inhibitor,
#workspaces,
#window,
#custom-cpuinfo,
#memory,
#custom-cpu,
#clock,
#custom-wifi,
#network,
#tray,
#privacy,
#language,
#pulseaudio,
#custom-backlight,
#power-profiles-daemon,
#battery,
#custom-power {
  opacity: 1;
  padding: 3px 6px;
  margin: 0 3px;
  border-radius: 10px;
  text-shadow: 0px 0px 2px rgba(22, 22, 22, 0.8);
}

/* -- Left Modules -- */
/* Idle Inhibitor */
#idle_inhibitor {
  background: @logo;
  margin-left: 6px;
  padding-right: 7px;
  padding-left: 2px;
}

/* Workspaces */
#workspaces {
  background: @workspaces;
}

/* Workspace Button */
#workspaces button {
  color: @foreground;
  border-radius: 8px;
  box-shadow: none;
  margin: 2px 1px;
  padding: 0 2px;
  animation: ws_normal 20s ease-in-out 1;
}

/* Active Workspace Button */
#workspaces button.active {
  color: @active-fg;
  background: @active-bg;
  text-shadow: 0px 0px 2px rgba(22, 22, 22, 0.6);
  margin-right: 2px;
  margin-left: 2px;
  padding: 0 5px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* Hover Effect for Workspace Buttons */
#workspaces button:hover {
  color: @hover-fg;
  background: @hover-bg;
  box-shadow: none;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* Window Title */
#window {
  background: @window;
  padding-right: 10px;
  padding-left: 10px;
}

/* -- Central Modules --  */
#custom-cpu,
#custom-cpuinfo,
#memory,
#clock.time,
#clock.date {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  padding: 3px 3px;
}

/* CPU */
#custom-cpu {
  background: @cpu;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 6px;
  padding-left: 6px;
}

/* CPU Temperature */
#custom-cpuinfo {
  background: @cpuinfo;
}

/* Memory */
#memory {
  background: @memory;
}

/* Time */
#clock.time {
  background: @time;
}

/* Date */
#clock.date {
  background: @date;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 6px;
  padding-right: 6px;
}

/* -- Right Modules -- */

/* Network */
#network {
  background: @network;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 13px;
}

/* Tray */
#tray {
  padding-right: 8px;
  padding-left: 8px;
  background: @tray;
}

#tray menu {
  color: @foreground;
  border-radius: 10px;
  background: @tooltip;
}

#tray menu separator {
  min-height: 3px;
}

#tray menu menuitem {
  border-radius: 4px;
}

#tray menu menuitem:hover {
  background-color: @hover;
}

/* Privacy */
#privacy {
  background: @privacy;
  padding-right: 8px;
  padding-left: 8px;
}

/* Right modules group */
#language,
#pulseaudio,
#custom-backlight,
#power-profiles-daemon,
#battery {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  padding: 3px 2px;
}

/* Language */
#language {
  background: @language;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 3px;
  padding-left: 6px;
}

/* PulseAudio */
#pulseaudio {
  background: @pulseaudio;
}

/* Brightness */
#custom-backlight {
  background: @backlight;
}

/* Power Profiles */
#power-profiles-daemon {
  background: @power-profiles;
  padding-right: 2px;
}

/* Battery */
#battery {
  background: @battery;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 3px;
  padding-right: 6px;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

/* Power Button */
#custom-power {
  background: @power;
  margin-right: 6px;
  padding-right: 5px;
  padding-left: 11px;
}

#custom-power:hover {
  color: @hover-fg;
  background: @power-hv;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
